# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
// .gitnignore
# next.js build output
.next
# dotenv environment variables file (build for Zeit Now)
.env
.env.build
# Dependency directories
node_modules/
# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
client/.next
.next
.prettierignore
# dependencies
/node_modules
/.pnp
.pnp.js
package-lock.json

# testing
/coverage

# production
# /build
public/embed/prismic-data.json

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
.env
.eslintrc.js

npm-debug.log*
yarn-debug.log*
yarn-error.log*

.env
.vscode/launch.json
.vscode/settings.json
.vercel
